.st-emotion-cache-1xw8zd0.e1f1d6gn0{
    background: rgb(0, 43, 54)
} 
    
.block-container.st-emotion-cache-z5fcl4.ea3mdgi2{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.9rem;
}

.st-emotion-cache-12g66t4.e1nzilvr5 p{
    display: inline-block;
}

.element-container.st-emotion-cache-1iqgup9.e1f1d6gn4{
    text-align: center;
}

.st-emotion-cache-12g66t4.e1nzilvr5{
    text-align: center;
}

.element-container.st-emotion-cache-xlso6i.e1f1d6gn4{
    display: inline-block;
}
    
.st-emotion-cache-1kyxreq.e115fcil2{
    justify-content: center;
}  

.st-emotion-cache-16tdry9.e1i5pmia3{
    font-size: 1.5rem;
    overflow: hidden;
    white-space: normal;
}